.table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
}

.header {
  background-color: #162c7c;
  color: white;
  font-weight: bold;
  text-align: left;
}

.row {
  border: 2px solid black;
}

.cell {
  padding: 10px;
}
