@import 'styles/variables';

.home-page {
    display: flex;
    flex-direction: column;
    background-color: #ECECEC;
    height: 100%;
    padding: 40px;

    h1 {
        color: $primary-color;
        margin: 0px 0px 10px 0px;
    }
}
